page-word-split {
  span {
    font-size: 90px;
    text-decoration: underline;
    opacity: 0.5;
    font-family: 'ziclets';
  }

  .highlight {
    opacity: 1;
  }

  .slide-zoom h1 {
    font-size: 150px;
  }
}
