<!--
  Generated template for the Multisensory page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>-->

  <!--<ion-navbar>-->
    <!--<ion-title>Multisensory </ion-title>-->
  <!--</ion-navbar>-->

<!--</ion-header>-->

<ion-content [ngStyle]="{'background-image': 'url(' + bg_image_above + ')'}">
  <img [src]="back_img" item-left class="imgBackArrow"  (click)="onClickBack()">
  <img [src]="volume_img" item-left class="imgGreenVolume"  >

  <ion-slides (ionSlideDidChange)="slideChanged()" (ionSlideDrag)="slideDrag()" (ionSlideTap)="slideTap()" (ionSlideDoubleTap)="slideDoubleTap()" (ionSlideReachEnd)="end()">
    <ion-slide [ngStyle]="{'background-image': 'url(' + bg_image_slide + ')'}">
      <div class="Firsttext">{{firstItem.text}}</div>
    </ion-slide>
    <ion-slide [ngStyle]="{'background-image': 'url(' + bg_image_slide + ')'}">
      <div class="Secondtext">{{secondItem.text}}</div>
    </ion-slide>
    <template ngFor let-item [ngForOf]="items" let-i="index" [ngForTrackBy]="trackByFn">
      <ion-slide [ngStyle]="{'background-image': 'url(' + bg_image_slide + ')'}">
        <div class="text">{{item.text}}</div>
      </ion-slide>
      <ion-slide [ngStyle]="{'background-image': 'url(' + bg_image_slide + ')'}">
        <img [src]="item.picture">
        <h2>{{item.text}}</h2>
      </ion-slide>
      <ion-slide [ngStyle]="{'background-image': 'url(' + bg_image_slide + ')'}">
        <div class="text">{{item.text}}</div>
      </ion-slide>
    </template>
  </ion-slides>
</ion-content>


<!--<ion-footer>-->

  <!--<ion-grid >-->

    <!--<ion-row>-->

      <!--<ion-col width="33">-->
        <!--<button (click)="slidePre()" color="light" clear ion-button icon-only><ion-icon name="skip-backward-outline"></ion-icon></button>-->
      <!--</ion-col>-->

      <!--<ion-col width="33">-->
        <!--<button (click)="slideTap()" *ngIf="!isPlaying"  color="light" clear ion-button icon-only><ion-icon name="play-outline"></ion-icon></button>-->
        <!--<button (click)="slideTap()" *ngIf="isPlaying" color="light" clear ion-button icon-only><ion-icon name="pause-outline"></ion-icon></button>-->
      <!--</ion-col>-->

      <!--<ion-col width="33">-->
        <!--<button (click)="slideNext()" color="light" clear ion-button icon-only><ion-icon name="skip-forward-outline"></ion-icon></button>-->
      <!--</ion-col>-->

    <!--</ion-row>-->

  <!--</ion-grid>-->

<!--</ion-footer>-->

